<div class="panel panel-default">
  <div class="panel-heading text-center"> <%= link_to 'New Notice', new_notice_path, class: 'pull-right' %> All
    Notices
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>id</th>
      <th>message</th>
      <th>active</th>
      <th>background_color</th>
      <th>font_color</th>
      <th>font_size</th>
      <th>text_align</th>
      <th>cross_button_color</th>
      <th>z_index</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @notices.all.each do |notice| %>
        <tr>
          <td><%= notice.id %></td>
          <td><%= notice.message %></td>
          <td><%= notice.active %></td>
          <td><%= notice.background_color %></td>
          <td><%= notice.font_color %></td>
          <td><%= notice.font_size %></td>
          <td><%= notice.text_align %></td>
          <td><%= notice.cross_button_color %></td>
          <td><%= notice.z_index %></td>
          <td><%= link_to 'Edit', edit_notice_path(notice) %>
            <%= link_to 'Delete', notice, action: :delete, method: :delete %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
